@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***********************************  GENERAL STYLING  ************************************/

/*----------------------------------  Colours  -------------------------------------------*/

:root {
    --main-color-dark: #2e2e2e;
    --main-color-light: #f0f0f0;
    --accent-green: #00ffc2;
    --accent-purple: #7000ff;
}

.green-accent {
    color: var(--accent-green);
}

.purple-accent {
    color: var(--accent-purple);
}

.light-bg * {
    background-color: var(--main-color-light);
}

/*----------------------------------  Fonts  ---------------------------------------------*/

:root {
    --xss-font: 13px;
    --xs-font: 17px;
    --sm-font: 21px;
    --md-font: 34px;
    --la-font: 28px;
    --xl-font: 55px;
    --xxl-font: 89px;
}

/*
.light-mont {
    font-family: Montserrat, sans-serif;
    color: var(--main-color-light);
}

.dark-mont {
    font-family: Montserrat, sans-serif;
    color: var(--main-color-dark);
}

.green-mont {
    font-family: Montserrat, sans-serif;
    color: var(--accent-green);
}

.purple-mont {
    font-family: Montserrat, sans-serif;
    color: var(--accent-purple);
}

.light-robo {
    font-family: Roboto, sans-serif;
    color: var(--main-color-light);
}

.dark-robo {
    font-family: Roboto, sans-serif;
    color: var(--main-color-dark);
}

.green-robo {
    font-family: Roboto, sans-serif;
    color: var(--accent-green);
}

.purple-robo {
    font-family: Roboto, sans-serif;
    color: var(--accent-purple);
}
*/

/*----------------------------------  General Styles  ------------------------------------------*/

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1, h2 {
    font-size: var(--md-font);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

h3 {
    font-size: var(--sm-font);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

h4 {
    font-size: var(--sm-font);
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

p {
    font-size: var(--xs-font);
    font-family: Roboto; 
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-transform: scale(1.5);
}

body {
    background-color: var(--main-color-dark);
}

/*----------------------------------  Utilities  ------------------------------------------*/

.light-text, .light-text a {
    color: var(--main-color-light);
}

.light-text a:hover {
    color: var(--accent-green);
    text-transform: scale(1.2);
}

.dark-text, .dark-text a {
    color: var(--main-color-dark);
}

.dark-text a:hover {
    color: var(--accent-purple);
    text-transform: scale(1.2);
}

/*----------------------------------  Sitewide Styling  ------------------------------------------*/

.teaser {
    text-align: center;
    font-weight: 600;
}

.teaser p, a {
    margin: 0;
    padding: 0;
    border: 0;
}

/***********************************  SECTION STYLING: SCREENS <576px  ******************/

/*----------------------------------  Navigation Menu  ---------------------------------*/

#social-media-links {
    padding-left: 5px;
    font-size: 20px;
    float: left;
}

#social-media-links a {
    color: var(--main-color-light);
    padding-right: 5px;
    display: inline;
}

.navbar-toggler-icon {
    color: var(--main-color-light);
    vertical-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.site-menu a {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    text-align: center;
}

.site-menu a:not(.active) {
    color: var(--main-color-light);
}

.site-menu a:hover,
#social-media-links a:hover {
    color: var(--accent-green);
}

#active {
    text-decoration: underline;
    color: var(--accent-green);
}

/*----------------------------------  Home Section  ---------------------------------*/

#attention-grab {
    text-align: center;
    width: 50%;
}

.attention-text {
    font-weight: 300;
}

#selfie {
    text-align: center;
    vertical-align: center;
    width: 50%;
    padding-right: 10px;
}

/*----------------------------------  Pitch Section  ---------------------------------*/

.pitch {
    text-align: center;
    padding: 0 30px;
}

.pitch a {
    font-weight: 600;
    color: var(--accent-purple);
}

/*----------------------------------  History Section  ---------------------------------*/

.history {
    text-align: center;
    padding: 0 30px;
}

.history a {
    color: var(--accent-green);
}

.history img {
    margin: 0;
    padding: 0;
    border: 0;
}

.history-dates {
    font-weight: 200;
}

.history-achievements {
    font-style: italic;
    font-weight: 300;
}

/*----------------------------------  Skills Section  ---------------------------------*/

.skills {
    float: center;
    text-align: center;
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
}

.skills h3 {
    margin: 25px;
}

.skills-bar h3 {
    text-align: center;

}

/* Skills Bar Chart */
/* Code adapted from Camilla Carrera on CodePen */

body{
  font-family: Roboto, sans-serif;
}
.skills-bar{
  width: 100%;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #2e2e2e;
  padding: 1px;
  border-radius: 15px;
  margin-top: 5px;
  font-size: 14px;
  color: #f0f0f0;
  font-weight: bold;
}

.bar::before{
  content:  attr(data-skill);
  background-color: #7000ff;
  display: inline-block;
  padding: 5px 0 5px 5px;
  border-radius: inherit;
  animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(95% - 10px);
}

/* end of adapted code */

/*----------------------------------  Projects Section  ---------------------------------*/

.project-year {
    text-align: center;
}

.projects {
    text-align: center;
    margin: 5px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-green);
    border-radius: 40px;
}

.projects h4 {
    margin-top: 10px;
}

.projects p {
    font-weight: 300;
}

/* FOR DESKTOPS (DESKTOPS TO SEE IMAGE THAT DISAPPEARS ON HOVER)
.project-004:hover {
    background-image: url("../img/project-northern-escapes.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.client {
    font-weight: 500;
}

.projects a {
    color: var(--accent-green);
}

.projects a:hover {
    text-transform: scale(1.5);
}

/*----------------------------------  Contact Section  ---------------------------------*/

.contact {
    display: block;
    text-align: center;
}

#name, #email, #subject {
    text-align: center;
    width: 80%;
    font-size: var(--xs-font);
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
}

#name, #email {
    height: 40px;
}

#subject {
    height: 150px;
}

#submit {
    color: var(--main-color-light);
    text-align: center;
    font-size: var(--xs-font);
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
    background-color: var(--accent-purple);
    
}

.contact-details {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.contact-links {
    color: var(--accent-purple);
}

/*----------------------------------  Footer Section  ---------------------------------*/

.footer {
    text-align: center;
}

.footer p {
    display: inline;
}

/***********************************  RESPONSIVE ELEMENTS  ******************************/

/*----------------------------------  0px≤ (XS Screens) <576px  ---------------------------------*/

/* HOME PAGE: Breaks text at the right point */

@media screen and (max-width: 500px) {
    .small-break {
        display: none;
    }
}

/* HOME PAGE: content switches to stacked on small phones */

@media screen and (max-width: 350px) {
    #main-heading {
        padding: 20px 0px 10px 10px;
    }
    
    .home-content {
        flex-direction: column-reverse;
    } 

    #attention-grab {
        width: 100%;
    }

    #attention-grab p {
        font-size: var(--sm-font)
    }
    
    #selfie {
        align-self: center;
        width: 40%;
        padding-bottom: 30px;
    }
}

/* HOME PAGE: image centres in the space it has */

@media screen and (max-width : 500px) {
#selfie {
    padding-top: 25px;
}
}

/*----------------------------------  576px≤ (SM Screens) <768px  ---------------------------------*/

/* Home page content switches to stacked on small phones */

@media screen an (min-width: 768px) {
    .small-break {
        display: none;
    }
}




/* Home page layout bespoke breakpoints within default small screen size*/



/*----------------------------------  576px≤ (SM Screens) <768px  ---------------------------------*/


/*----------------------------------  576px≤ (SM Screens) <768px  ---------------------------------*/


/*----------------------------------  576px≤ (SM Screens) <768px  ---------------------------------*/
