@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***********************************  GENERAL STYLING  ************************************/

/*----------------------------------  Colours  -------------------------------------------*/

:root {
    --main-color-dark: #2e2e2e;
    --main-color-light: #f0f0f0;
    --accent-green: #00ffc2;
    --accent-purple: #7000ff;
}

.green-accent {
    color: var(--accent-green);
}

.purple-accent {
    color: var(--accent-purple);
}

.light-bg * {
    background-color: var(--main-color-light);
}

/*----------------------------------  Fonts  ---------------------------------------------*/

:root {
    --xss-font: 1rem;
    --xs-font: 1.25rem;
    --sm-font: 1.5rem;
    --md-font: 1.75rem;
    --lg-font: 2.5rem;
    --xl-font: 3rem;
    --xxl-font: 4rem;
}

/*----------------------------------  Elements  ------------------------------------------*/

/* CODE TAKEN FROM HOVER.CSS GROW */

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.section {
    min-height: 100vh;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 20px;
}

h1, h2 {
    font-size: var(--lg-font);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: var(--md-font);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

h4 {
    font-size: var(--sm-font);
    font-family: Roboto, sans-serif;
    font-weight: 200;
}

p {
    font-size: var(--xs-font);
    font-family: Roboto; 
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: var(--main-color-dark);
}

/*----------------------------------  Utilities  ------------------------------------------*/

.light-text, .light-text a {
    color: var(--main-color-light);
}

.light-text a:hover {
    color: var(--accent-green);
    transition-delay: 0.1s;
}

.dark-text, .dark-text a {
    color: var(--main-color-dark);
}

.dark-text a:hover {
    color: var(--accent-purple);
    transition-delay: 0.1s;
}

.left-align {
    text-align: left;
}

/* CODE CREDIT: TAKEN FROM HOVER.CSS GROW */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
/*  END OF CODE CREDIT  */

/*----------------------------------  Sitewide  ------------------------------------------*/

.teaser {
    text-align: center;
    font-weight: 600;
    padding-top: 35px;
    margin-bottom: 10px;
}

.teaser p, a {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

/***********************************  SECTION STYLING: SCREENS <576px  ******************/

/*----------------------------------  Navigation  ---------------------------------*/

/*  CODE CREDIT: SKIP TO MAIN ADAPTED FROM NC STATE UNIVERSITY ACCESSIBILITY GUIDELINES  */
/*  (https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/)  */
#skip-to-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

#skip-to-main:focus, #skip-main:active {
    font-family: montserrat, sans-serif;
    font-size: var(--md-font);
    color: var(--main-color-light);
    z-index: 999;
}
/*  END OF CODE CREDIT  */


#social-media-links {
    padding-left: 5px;
    font-size: 20px;
    float: left;
}

#social-media-links a {
    color: var(--main-color-light);
    padding-right: 5px;
    display: inline;
}

.navbar-toggler-icon {
    color: var(--main-color-light);
    vertical-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.site-menu a {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.site-menu a:not(.active) {
    color: var(--main-color-light);
}

.site-menu a:hover,
#social-media-links a:hover {
    color: var(--accent-green);
    transition-delay: 0.1s;
}

#active {
    text-decoration: underline;
    color: var(--accent-green);
}

/*----------------------------------  Home Section  ---------------------------------*/

#attention-grab {
    text-align: center;
    width: 50%;
}

.attention-text {
    font-weight: 300;
}

#selfie {
    text-align: center;
    vertical-align: center;
    width: 50%;
    min-width: 150px;
    min-height: auto;
}

/*----------------------------------  Pitch Section  ---------------------------------*/

.pitch {
    text-align: center;
    padding: 0 30px;
}

.pitch a {
    font-weight: 600;
    color: var(--accent-purple);
}

/*----------------------------------  History Section  ---------------------------------*/

.history {
    text-align: center;
    padding: 0 30px;
}

.history a {
    color: var(--accent-green);
}

.history img {
    margin: 0;
    padding: 0;
    border: 0;
}

.history-dates {
    font-weight: 200;
}

.history-achievements {
    font-style: italic;
    font-weight: 300;
}

/*----------------------------------  Skills Section  ---------------------------------*/

.skills {
    text-align: center;
    margin: 30px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
}

.skills h3 {
    margin: 25px;
}

.skills-bar h3 {
    text-align: center;
}

/*  Skills Bar Chart  */
/*  CODE CREDIT: THIS BAR CHART WAS ADAPTED FROM CAMILLA CARRERA ON CODEPEN  */
body{
  font-family: Roboto, sans-serif;
}
.skills-bar{
  width: 100%;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #2e2e2e;
  padding: 1px;
  border-radius: 15px;
  margin-top: 5px;
  font-size: 1rem;
  color: #f0f0f0;
  font-weight: bold;
}

.bar::before{
  content:  attr(data-skill);
  background-color: #7000ff;
  display: inline-block;
  padding: 5px 0 5px 5px;
  border-radius: inherit;
  animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(95% - 10px);
}
/*  END OF CODE CREDIT */

/*----------------------------------  Projects Section  ---------------------------------*/

.project-year {
    text-align: center;
    padding: 30px 0px;
}

.projects {
    text-align: center;
    margin: 5px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-green);
    border-radius: 40px;
}

.projects h4 {
    margin-top: 10px;
}

.projects p {
    font-weight: 300;
}

.client {
    font-weight: 500;
}

.projects a {
    color: var(--accent-green);
}

/*----------------------------------  Contact Section  ---------------------------------*/

.contact {
    display: block;
    text-align: center;
}

#name, #email, #subject {
    text-align: center;
    width: 80%;
    font-size: var(--xs-font);
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
}

#name, #email {
    height: 40px;
}

#subject {
    height: 150px;
}

#submit {
    color: var(--main-color-light);
    text-align: center;
    font-size: var(--xs-font);
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-purple);
    border-radius: 40px;
    background-color: var(--accent-purple);
}

.contact-details {
    text-align: center;
    font-weight: 700;
    margin: 0px;
    padding: 10px;
}

/*----------------------------------  Footer Section  ---------------------------------*/

.footer {
    text-align: center;
}

.footer p {
    display: inline;
}

/***********************************  RESPONSIVE ELEMENTS  ******************************/

/*----------------------------------- (XS Screens) <576px  ---------------------------------*/

@media screen and (max-width: 350px) {
/*  ELEMENTS: Heading size adjusted (homepage only)  */
    h1 {
    font-size: var(--md-font);
    padding: 0;
    }
}

@media screen and (max-width: 400px) {
/*  HOME SECTION: Title text breaks at the right point  */
    .small-break-1 {
        display: none;
    }
}

@media screen and (min-width: 350px) and (max-width: 575px) {
/*  HOME SECTION: Title text breaks at the right point  */
    .small-break-2 {
        display: none;
    }
}

@media screen and (max-width: 575px) {
/*  HOME SECTION: Content switches to stacked  */
    #main-heading {
        padding: 30px 0px 30px 20px;
    }
/*  CODE CREDIT: THIS LINE WAS TAKEN FROM JS FIDDLE ON STACK OVERFLOW  */
/*  (https://stackoverflow.com/questions/33082796/how-to-reverse-the-order-of-elements-in-media-queries)  */
    .home-content {
        flex-direction: column-reverse;
    }
/*  END OF CODE CREDIT  */

    #attention-grab {
        width: 100%;
    }
    #attention-grab p {
        font-size: var(--sm-font)
    }
    #selfie {
        align-self: center;
        padding-bottom: 30px;
    }
}

/*----------------------------------  576px≤ (SM Screens) <768px  ---------------------------------*/

@media screen and (min-width: 576px) {
/*  HOME SECTION: heading pads out to fill screen  */
    #main-heading {
        padding: 50px 0px 30px 20px;
    }
/*  HOME SECTION: Adds padding to top of image to balance with text  */
    #selfie {
        padding-top: 30px;
    }
/*  HOME SCREEN: Align attention grab text left  */
    #attention-grab {
        text-align: left;
    }
}

/*----------------------------------  768px≤ (SM Screens) <992px  ---------------------------------*/

@media screen and (min-width: 768px) {
/*  ELEMENTS: Increasing sizes to suit page size  */
    h1, h2 {
        font-size: var(--xl-font);
    }
/*  NAVIGATION: Social media links align with menu items once menu collapses  */
    #social-media-links {
    padding-top: 15px;
    }
/*  HOME SECTION: Attention grab gets larger  */
    #attention-grab p {
        font-size: var(--sm-font);
    }
/*  HOME SECTION: Adds padding to bottom of image to balance with text  */
    #selfie {
        padding-top: 10px;
    }
}

/*----------------------------------  992px≤ (SM Screens) <1200px  ---------------------------------*/

@media screen and (min-width: 992px) {
/*  ELEMENTS: Increasing sizes to suit page size  */
    h1, h2 {
        font-size: var(--xl-font);
    }
/*  NAVIGATION: Increase size of text in line with page  */
    .site-menu a, #social-media-links a {
        font-size: var(--md-font);
    }
/*  HOME SECTION: Removes earlier padding  */
    #selfie {
    padding-top: 0px;
}
/*  HOME SECTION: Attention grab gets larger  */
    #attention-grab p {
        font-size: var(--md-font);
        text-align: left;
    }
/*  HOME SECTION: Removing breaks from attention grab and adding plus symbol  */
    .large-break {
        display: none;
    }
}

/*----------------------------------  1200px≤ (SM Screens)  ---------------------------------*/

@media screen and (min-width: 1200px) {
/*  ELEMENTS: Increasing sizes to suit page size  */
    h1, h2 {
        font-size: var(--xxl-font);
    }
/*  HOME SECTION: Attention grab gets larger  */
    #attention-grab p {
        font-size: var(--lg-font);
    }
}
