@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

/***********************************  GENERAL STYLING  ***********************************/

/*----------------------------------  Colours  -------------------------------------------*/

:root {
    --main-color-dark: #2e2e2e;
    --main-color-light: #f0f0f0;
    --accent-green: #00ffc2;
    --accent-purple: #7000ff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--main-color-dark);
}

/***********************************  NAVIGATION MENU  ***********************************/

#social-media-links {
    padding-left: 5px;
    font-size: 20px;
    float: left;
}

#social-media-links a {
    color: var(--main-color-light);
    padding-right: 5px;
    display: inline;
}

.navbar-toggler-icon {
    color: var(--main-color-light);
    vertical-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.site-menu a {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    text-align: center;
}

.site-menu a:not(.active) {
    color: var(--main-color-light);
}

.site-menu a:hover,
#social-media-links a:hover {
    color: var(--accent-green);
}

#active {
    text-decoration: underline;
    color: var(--accent-green);
}
